<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet/less' type='text/css' href="{{ url_for('static', filename='style.less') }}"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
		
		<script src='https://code.jquery.com/jquery-3.3.1.min.js'> </script>
		<script src="{{ url_for('static', filename='search.js') }}"></script>
	</head>
	<body>
		<form class='search' role='form'>
			<input type='text' name='search' class='form-control' required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="button">Search</button>
		</form>
		<div id='result'></div>
	</body>
</html>
